<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <title>GumFree</title>
</head>

<body>

    {{!-- header and navigation --}}
    <nav class="bg-gray-200">
        <div class="mx-auto px-4">
            <div class="flex justify-between">

                {{!-- left side title icon and nav --}}
                <div class="flex space-x-4">
                    {{!-- title and logo --}}
                    <a class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900" href="/">
                        <img src="../../assets/img/GumFree.png" class="h-20 w-20 mr-5" alt="logo">
                        <h1 class="text-3xl mr-5">GumFree</h1>
                    </a>

                    {{!-- nav --}}
                    <div class="hidden md:flex items-center space-x-1">
                        <a href="/items/" class="py-5 px-3 text-gray-700 hover:text-gray-900">Ads</a>
                        <a href="/dashboard" class="py-5 px-3 text-gray-700 hover:text-gray-900">My Account</a>
                    </div>
                </div>

                {{!-- right side login signup --}}
                <div class="hidden md:flex items-center space-x-1">
                    {{#if logged_in}}
                    <a href="/" class="py-5 px-3 logout">Logout</a>
                    {{/if}}
                    {{#unless logged_in}}
                    <a href="/login" class="py-5 px-3">Login</a>
                    {{/unless}}
                    <a href="/signup" class="py-5 px-3">Signup</a>
                </div>

                {{!-- mobile menu button --}}
                <div class="md:hidden flex items-center">
                    <button class="mobile-menu-button">
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="mobile-menu hidden md:hidden">
            <a href="/items/" class="py-5 px-3 text-gray-700 hover:text-gray-900">Ads</a>
            <a href="/dashboard" class="py-5 px-3 text-gray-700 hover:text-gray-900">My Account</a>
        </div>

    </nav>

    {{{body}}}

    <footer class="bg-gray-600">
        <div class="mx-auto px-4 h-24">
            <div class="flex justify-center">
                <p class="text-gray-100">Page ceated by Luke, Ollie and Ross.</p>
            </div>
        </div>
    </footer>
    <script src="/js/mobileMenu.js"></script>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>