<div class="min-h-screen bg-gray-50">
    <div class="grid grid-cols-1 md:grid-cols-3 grid-rows-3 gap-4 p-4">
        {{#each items as |item|}}
        {{>item-card}}
        {{/each}}
    </div>
</div>