<div class="min-h-screen bg-gray-50">
    <h1 class="text-2xl px-4 pt-2">Your account</h1>
    <h3 class="px-4 pt-2">View your items and post new ads</h3>
    <div class="grid grid-cols-1 md:grid-cols-3 grid-rows-2 gap-4 p-4">


        <a href="/">
            <article
                class="opacity-75 hover:opacity-100 p-4 bg-green-400 rounded h-60 text-gray-50 font-black tracking-widest shadow"
                style="background-image: url(/assets/img/category_images/latest.jpg); background-size: 100%;">Create new ad
            </article>
        </a>
    </div>

</div>