<div class="min-h-screen bg-gray-50">
    <h1 class="text-2xl px-4 pt-2">Your account</h1>
    <h3 class="px-4 pt-2">View your items and post new ads</h3>
    <div class="grid grid-cols-1 md:grid-cols-3 grid-rows-2 gap-4 p-4">
        <a href="/dashboard/additem" class="md:col-start-2 flex border-2 h-12 rounded justify-center bg-gray-600 items-center hover:bg-gray-500 text-gray-100 hover:text-gray-50"><p>Add new item</p>
        </a>
        {{#if items}}
            {{>item-card}}
        {{/if}}
        
    </div>

</div>