<div href="dashboard/additem" class="min-h-screen bg-gray-50" >
    <form method="post" action="formsub">
        <p> Name of your product:
            <input type="text" name="title" maxlength="50" />
        </p>
        <p> Description: </p>
            <textarea name="description" maxlength="400">Enter your product description</textarea>
        <p> Quantity:
            <input type="text" name="quantity" />
        </p>
        <p> Category:
            <select name="category">
                <option value="furniture">Furniture</option>
                <option value="transport">Transport</option>
                <option value="electronics">Electronics</option>
            </select>
        </p>
        <p> Offered:
            <input type="checkbox" name="offered" checked="checked" /> Yes
            <input type="checkbox" name="offered" /> No
        </p>
        <p> Available:
            <input type="checkbox" name="available" checked="checked" /> Yes
            <input type="checkbox" name="available" /> No
        </p>
    </form>
    <form method="post" action="formsub" enctype="multipart/form-data">
        <p>Please upload an image of your product</p>
        <input type="text" placeholder="filename" name="desc" />
        <input type="file" name="product-image" />
        <input type="submit" value="submit" />
    </form>
</div>