<div href="dashboard/additem" class="min-h-screen bg-gray-50" >
    <form method="post" action="formsub" id="new-ad-form">
        <p> Name of your product:
            <input type="text" name="title" maxlength="50" id="title"/>
        </p>
        <p> Description: </p>
            <textarea name="description" maxlength="400" id="desription">Enter your product description</textarea>
        <p> Quantity:
            <input type="text" name="quantity" id="quantity"/>
        </p>
        <p> Category:
            <select name="category" id="category">
                <option value="furniture" id="furniture">Furniture</option>
                <option value="transport" id="transport">Transport</option>
                <option value="electronics" id="electronics">Electronics</option>
                <option value="books" id="books">Books</option>
                <option value="garden" id="garden">Garden</option>
                <option value="clothing" id="clothing">Clothing</option>
            </select>
        </p>
        <p> Offered:
            <input type="radio" name="offered" checked="checked" id="offered"/> Yes
            <input type="radio" name="offered" /> No
        </p>
        <input type="submit" value="submit" />
    </form>
    <form method="post" action="formsub" enctype="multipart/form-data">
        <p>Please upload an image of your product</p>
        <br>
        <input type="text" placeholder="filename" name="desc" />
        <input type="file" name="product-image" />
    </form>
</div>

<script src="./js/newItem.js"></script>